{#
 This file is part of EC-CUBE

 Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.
 http://www.lockon.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
<p class="item_code">メーカーコード： {{ maker_name }}</p>
{% if maker_url %}
<p class="item_code">メーカーURL： <a href="{{maker_url}}" target="_blank">{{ maker_url }}</a></p>
{% endif %}
